<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{webapp.title}"></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <form class="query" action="/result" method="GET">
                <input class="url" name="url" th:placeholder="#{query.placeholder}"/>
                <button th:text="#{analyse}"></button>
            </form>
        </div>
        <div id="content" th:include="result">

        </div>
    </div>
</body>
</html>